#app{
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;

    width: 100%;

    position: relative;
}

#app > *{
    flex: 1 1 auto;
    width: 100%;
    max-width: 80em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;
    padding: 1em 4em;
}
